.lmj-plant-list {
    list-style-type: none;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1010px;
}

.categorie-plant-list {
    padding: 32px;
    max-width: 1010px;
}